* {
   box-sizing: border-box;
   margin: 20, 20;
 } 

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

 body {
   padding: 5px;
   margin: 5px;
   background-image: url(images/calccover2.png);
 }
 
 h1 {
   border: 3px rgb(230, 61, 162) solid;
   background-color: burlywood;
   text-align: center;
   color: rgba(242, 14, 67, 0.966);
   opacity: 90%;
  
 }

p {
   color: rgb(244, 12, 85);
   background-color: yellow;
   opacity: 90%;
   display: flex;
 }

 .calculator-grid {
   display: grid;
   justify-content: center;
   align-content: center;
   min-height: 100vh;
   grid-template-columns: repeat(4, 80px);
   grid-template-rows: minmax(70px, auto) repeat(5, 70px);
 
 }
 
 .calculator-grid > button {
   cursor: pointer;
   font-size: 1rem;
   border: 2px solid black;
   border-radius: 5px;
   text-emphasis-color: white;
   outline: rgb(169, 99, 99) solid;
   background-color: rgb(184, 189, 237);
 }
 
 .calculator-grid > button:hover {
   background-color: rgba(18, 242, 205, 0.9);
 }
 
 .span-two {
   grid-column: span 2;
   border-radius: 5px;
 }
 
 .output {
   grid-column: 1 / -1;
   background-color: rgb(101, 91, 91);
   border: 8px black solid;
   border-radius: 5px;
   display: flex;
   align-items: flex-end;
   justify-content: space-around;
   flex-direction: column;
   padding: 10px;
   word-wrap: break-word;
   word-break: break-all;
 }
 
 .output .previous-operand {
   color: rgba(7, 7, 208, 0.75);
   font-size: 1.5rem;
 }
 
 .output .current-operand {
   color: white;
   font-size: 2.5rem;
 }

